<nav>
    <div class="mobile-menu" id="burger">
        <div class="mobile-menu__nice"></div>
        <div class="mobile-menu__nice"></div>
        <div class="mobile-menu__nice"></div>
    </div>
    <ul id="mainMenuList">
        <li>
            <a [routerLink]="['']">Home</a>
        </li>
        <li>
            <a [routerLink]="['/cl1']">First canvas lesson</a>
        </li>
        <li>
            <a [routerLink]="['/cl2']">Second canvas lesson</a>
        </li>
        <li>
            <a [routerLink]="['/cl3']">Third canvas lesson</a>
        </li>
        <li>
            <a [routerLink]="['/cl4']">Fourth canvas lesson</a>
        </li>
        <li>
            <a [routerLink]="['/cl5']">Fifth canvas lesson</a>
        </li>
        <li>
            <a [routerLink]="['/cl6']">Sixth canvas lesson</a>
        </li>
        <li>
            <a [routerLink]="['/cl7']">Seventh canvas lesson</a>
        </li>
        <li>
            <a [routerLink]="['/cl8']">Eighth canvas lesson</a>
        </li>
        <li>
            <a [routerLink]="['/cl9']">Ninth canvas lesson</a>
        </li>
    </ul>
</nav>