<nav>
    <div class="mobile-menu" id="burger">
        <div class="mobile-menu__nice"></div>
        <div class="mobile-menu__nice"></div>
        <div class="mobile-menu__nice"></div>
    </div>
    <ul id="mainMenuList">
        <li>
            <a [routerLink]="['']">Home</a>
        </li>
        <li>
            <a [routerLink]="['/canvaslesson1']">First canvas lesson</a>
        </li>
        <li>
            <a href="#services" data-name="Услуги">Услуги</a>
        </li>
        <li>
            <a href="#career" data-name="Карьера">Карьера</a>
        </li>
        <li>
            <a href="#reviews" data-name="Отзывы">Отзывы</a>
        </li>
        <li>
            <a href="#contacts" data-name="Контакты">Контакты</a>
        </li>
    </ul>
</nav>