<h2>Игра "Жизнь"</h2>

<div class="wrapper">
  <canvas id="c8" width="300" height="300"></canvas>

  <p>Количество циклов: <span id="count">0</span></p>
  <button id="start">Start</button>
  <!--<div class="inputs">-->
    <!--<h3>Переменная "R":</h3>-->
    <!--<div class="input">-->
      <!--<input class="range" id="R" type="range" min="1" max="600" value="150">-->
      <!--<p id="inputRGr" class="p-input" ></p>-->
    <!--</div>-->
    <!--<h3>Переменная "r":</h3>-->
    <!--<div class="input">-->
      <!--<input class="range" id="r" type="range" min="1" max="600" value="90">-->
      <!--<p id="inputRSm" class="p-input" ></p>-->
    <!--</div>-->
    <!--<h3>Переменная "d":</h3>-->
    <!--<div class="input">-->
      <!--<input class="range" id="d" type="range" min="1" max="600" value="80">-->
      <!--<p id="inputD" class="p-input" ></p>-->
    <!--</div>-->
  <!--</div>-->
</div>

